/* DrukCyr font */
@font-face {
    font-family: "DrukCyr";
    src: url("/fonts/DrukCyr-Medium.woff2") format(woff2);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "DrukCyr";
    src: url("/fonts/DrukCyr-Bold.woff2") format(woff2);
    font-weight: 700;
    font-style: normal;
}

/* Circe font */
@font-face {
    font-family: "Circe";
    src: url("/fonts/Circe-Light.woff2") format(woff2);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Circe";
    src: url("/fonts/Circe-Regular.woff2") format(woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Circe";
    src: url("/fonts/Circe-Bold.woff2") format(woff2);
    font-weight: 700;
    font-style: normal;
}