html {
    width: 100%;
    overflow-x: hidden;
    background-color: var(--color-white);
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: var(--color-black);
    font-family: var(--font-family);
    background-color: var(--color-white);
}

.main {
    width: 100%;
}

.container {
    max-width: 1470px;
    padding-inline: 15px;
    margin-inline: auto;
}
@media screen and (max-width: 1440px){
    .container {
        max-width: 1170px;
    }
}
.space-y-10 > *:not(:last-child) {
    margin-bottom: 10px;
}
.space-y-20 > *:not(:last-child) {
    margin-bottom: 20px;
}
.space-y-30 > *:not(:last-child) {
    margin-bottom: 30px;
}
.space-y-40 > *:not(:last-child) {
    margin-bottom: 40px;
}
.space-y-50 > *:not(:last-child) {
    margin-bottom: 50px;
}