.footer {
    width: 100%;
    background-color: var(--color-primary);
}
.footer__container {}
.footer__row {}
.footer__row:first-child .footer__container {
    width: 100%;
    display: flex;
    gap: 30px;
}
.footer__row:first-child {
    width: 100%;
    padding: 90px 0;
}
.footer__row:last-child{
    width: 100%;
    padding: 40px 0;
    background-color: #0071e6;
    color: var(--color-white);
}
.footer__row:last-child .footer__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__info {
    width: 100%;
    flex-grow: 1;
}
.footer__info-logo {
    width: 100%;
    display: block;
}
.footer__info-brand {}
.footer__info-text {
    color: var(--color-white);
}
.footer__info-descr {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
}
.footer__info-subdescr {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
}
.footer__contacts {
    width: 100%;
    flex-grow: 1;
}
.footer__title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: var(--color-white);
    font-family: var(--secondary-family);
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 30px;
}
.footer__contacts-list {
    margin: 0;
    padding: 0;
}
.footer__contacts-item {}
.footer__contacts-link {
    color: var(--color-white);
    font-size: 36px;
    font-weight: 300;
}
.footer__contacts-email {
    padding-top: 30px;
    display: flex;
    align-items: start;
    gap: 20px;
}
.footer__contacts-email-span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px;
    color: var(--color-white);
    font-family: var(--secondary-family);
}
.footer__contacts-email-list {
    margin: 0;
    padding: 5.5px 0 0 0;
}
.footer__contacts-email-item {
    width: 100%;
}
.footer__contacts-email-link {
    font-size: 18px;
    color: var(--color-white);
}
.footer__catalog {
    width: 100%;
    flex-grow: 2;
}
.footer__navbar {
    width: 100%;
    height: 100%;
}
.footer__navbar-list {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2,1fr);
}
.footer__navbar-item {}
.footer__navbar-link {
    color: var(--color-white);
}
.footer__navbar-link:hover {
    text-decoration: underline;
}
.footer__politics {}
.footer__politics:hover {
    text-decoration: underline;
}
.footer__copy {
    margin: 0;
    padding: 0;
}
.footer__dev {}
.footer__dev:hover {
    text-decoration: underline;
}