.header {
    width: 100%;
    padding: 30px 0;
    background-color: var(--color-white);
}
.header__container {
    width: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {

}
.header__logo-link {
}
.header__logo-brand {
}
.header__navbar {
}
.header__menu {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.header__menu-item {
    display: inline-flex;
}
.header__menu-link {
    text-align: center;
    font-size: 20px;
    transition: color var(--nav-transition) linear;
}
@media screen and (max-width: 1440px){
    .header__menu {
        gap: 10px;
    }
    .header__menu-link {
        font-size: 16px;
    }
}
.header__menu-link:hover {
    color: var(--color-primary);
}
.header__menu-link--active {
    color: var(--color-primary);
}
.header__actions {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 30px;
}
@media screen and (max-width: 1440px){ 
    .header__actions {
        gap: 10px;
    }
}
.header__actions-item {
    display: inline-flex;
}
.header__actions-link {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__actions-icon {
    width: 50px;
    height: auto;
}
.header__actions-linkText {
    font-size: 20px;
}
@media screen and (max-width: 1440px){
    .header__actions-linkText {
        font-size: 16px;
    }
}
.header__actions-linkText--primary {
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 700;
}