.order {
    width: 100%;
    padding: 40px 0 70px 0;
}
.order__container {
    max-width: 830px;
}
.order__title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: var(--secondary-family);
    font-weight: 500;
    font-size: 96px;
}
.order-title__span {
    padding-left: 5px;
    font-family: var(--font-family);
    font-size: 18px;
    display: inline-block;
}
.order__form {
    width: 100%;
}
.order__form-fields {
    padding: 30px 0 40px 0;
    width: 100%;
    gap: 40px;
    display: flex;
}
.order__form-input {
    flex-shrink: 1;
    padding: 0 30px;
    height: 80px;
    width: 100%;
    border: none;
    font-size: 18px;
    outline: none;
    border-bottom: 2px solid #e5e5e5;
}
.order__form-button {
    border: none;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background: #007bfb;
    letter-spacing: 1px;
    width: 455px;
    height: 80px;
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .order__title {
     font-size: 42px;
    }
    .order__form-fields {
        flex-direction: column;
    }
    .order__form-button {
        width: 100%;
    }
 }