.works {
    width: 100%;
}
.works__grid {
    counter-reset: steps step;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
@media screen and (max-width:1024px) {
    .works__grid {
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:640px) {
    .works__grid {
        grid-template-columns: repeat(1,1fr);
    }
}
.works__link {
    display: block;
    width: 100%;
    height: 535px;
    overflow: hidden;
}
.works__link .works__card::before {
    position: absolute;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-primary);
    font-family: var(--secondary-family);
    font-size: 22px;
    right: 50px;
    bottom: 50px;
    counter-increment: steps;
    content: "0" counter(steps);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
    transition: opacity 300ms linear;
    opacity: 1;
}
.works__link:nth-child(n+10) .works__card::after {
    content: counter(step);  
}
.works__link .works__card::after {
    position: absolute;
    color: var(--color-white);
    font-family: var(--secondary-family);
    font-size: 160px;
    right: 50px;
    bottom: -40px;
    counter-increment: step;
    content: "0" counter(step);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
    transition: opacity 300ms linear;
    opacity: 0;
}
.works__link:nth-child(n+10) .works__card::before {
    content: counter(steps);  
}
.works__card {
    position: relative;
    width: 100%;
    height: 100%;
}

.works__card-detail {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 50px;
    z-index: 20;
    background-color: rgba(1, 1, 1, 0.7);
    transition: background 300ms linear;
}
.works__card-name {
    margin: 0;
    padding: 0;
    font-family: var(--secondary-family);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 36px;
    color: var(--color-white);
    transition: color 300ms linear;
}
.works__link:hover .works__card-detail {
    background-color: rgba(1, 1, 1, 0);
}
.works__link:hover .works__card-name {
    color: var(--color-black);
}
.works__link:hover .works__card::after {
    opacity: 1;
}
.works__link:hover .works__card::before {
    opacity: 0;
}
.works__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}